<html th:replace="~{layout.html :: layout(~{::title}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview - JAZ</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="body">
<div class="content">

    <div>
        <h1>JAZ</h1>
    </div>

    <div>
        <ul class="vertical-list">
            <li><a th:href="@{/(year=${year - 1})}" href="#" th:text="${year - 1}">1988</a></li>
            <li><b><a th:href="@{/(year=${year})}" href="#" th:text="${year}">1989</a></b></li>
            <li><a th:href="@{/(year=${year + 1})}" href="#" th:text="${year + 1}">1990</a></li>
        </ul>
    </div>

    <form method="post">
        <div class="form-section">
            <div class="form-row">
                <h2>Ausnahmen</h2>
            </div>
            <div class="form-row">
                <div class="form-label"><label for="holidays">Feiertage</label></div>
                <div class="form-input">
                    <select id="holidays" name="holidays" multiple size="10">
                        <option th:each="hd : ${holidayItems}" th:text="${hd.text}"
                                th:value="${#temporals.format(hd.value, 'yyyy-MM-dd')}" th:selected="${hd.selected}">
                            Feiertag
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label for="companyHolidays" th:inline="text">
                        Betriebsferien vom [[${#temporals.format(companyHolidaysBegin, 'EEEE, d.M.y')}]] bis
                        [[${#temporals.format(companyHolidaysEnd, 'EEEE, d.M.y')}]]
                    </label>
                </div>
                <div class="form-input">
                    <input id="companyHolidays" name="companyHolidays" type="checkbox" th:checked="${companyHolidays}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-label"><label for="exceptionDays">Anzahl weitere Ausnahme-Tage</label></div>
                <div class="form-input">
                    <input id="exceptionDays" name="exceptionDays" type="text" th:value="${exceptionDays}"/>
                </div>
            </div>
        </div>
        <div class="form-section">
            <div class="form-row">
                <h2>Pensum</h2>
            </div>
            <div class="form-row">
                <div class="form-label"><label for="hours">Stunden pro Tag</label></div>
                <div class="form-input"><input id="hours" name="hours" type="text" th:value="${hours}"/></div>
            </div>
            <div class="form-row">
                <div class="form-label"><label>Arbeitstage</label></div>
                <div class="form-input">
                    <nobr>
                        <input id="monday" name="monday" type="checkbox" th:checked="${monday}">
                        <label for="monday">Montag</label>
                    </nobr>
                    <nobr>
                        <input id="tuesday" name="tuesday" type="checkbox" th:checked="${tuesday}">
                        <label for="tuesday">Dienstag</label>
                    </nobr>
                    <nobr>
                        <input id="wednesday" name="wednesday" type="checkbox" th:checked="${wednesday}">
                        <label for="wednesday">Mittwoch</label>
                    </nobr>
                    <nobr>
                        <input id="thursday" name="thursday" type="checkbox" th:checked="${thursday}">
                        <label for="thursday">Donnerstag</label>
                    </nobr>
                    <nobr>
                        <input id="friday" name="friday" type="checkbox" th:checked="${friday}">
                        <label for="friday">Freitag</label>
                    </nobr>
                    <nobr>
                        <input id="saturday" name="saturday" type="checkbox" th:checked="${saturday}">
                        <label for="saturday">Samstag</label>
                    </nobr>
                    <nobr>
                        <input id="sunday" name="sunday" type="checkbox" th:checked="${sunday}">
                        <label for="sunday">Sonntag</label>
                    </nobr>
                </div>
            </div>
        </div>
        <div class="form-row-action">
            <button type="submit" name="calculate">JAZ Berechnen</button>
        </div>
    </form>

    <p th:inline="text">
        Im Jahr [[${year}]] würdest du [[${jazHours}]] Stunden arbeiten.
    </p>

</div>

</body>
</html>